<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">ParcialFinal</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/eventos']"
              >Eventos</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/personas']"
              >Personas</a
            >
          </li>


          <!-- <li *ngIf="!estaLogueado()" [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/register-login"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-th-list'></span> Register / Login
            </a>
          </li>
          <li *ngIf="estaLogueado()" [routerLinkActive]='["link-active"]'>
            <a (click)='logout()'>
              <span class='glyphicon glyphicon-th-list'></span> Logout
            </a>
          </li> -->

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" *ngIf="!estaLogueado()" [routerLinkActive]="['active']">
                            <a class="btn btn-primary" [routerLink]="['/register-login']" (click)="collapse()">Register / Login</a>
                        </li>
                        <li class="nav-item" *ngIf="estaLogueado()" [routerLinkActive]="['active']">
                            <button class="btn btn-secondary" (click)="logout()">Logout</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        

          

        </ul>
      </div>
    </div>
  </nav>
</header>
