<p>evento-detalle works!</p>


<div *ngIf="evento">
    <h1>{{ evento.nombre }}</h1>
    <p>{{ evento.descripcion }}</p>
    <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
    <p><strong>Información de Contacto:</strong> {{ evento.informacionContacto }}</p>
    <p><strong>Fecha de Inicio:</strong> {{ evento.fechaInicio | date }}</p>
    <p><strong>Fecha de Fin:</strong> {{ evento.fechaFin | date }}</p>
    <p><strong>Estado:</strong> {{ evento.estado }}</p>
    <p><strong>Tipo:</strong> {{ evento.tipo }}</p>
  
    <div *ngIf="evento.tipo === 'Participantes'">
      <h3>Participantes Inscritos</h3>
      <ul>
        <li *ngFor="let participante of evento.participantes">
          <p>{{ participante.nombre }}</p>
          <!-- Muestra más detalles si es necesario -->
        </li>
      </ul>
    </div>
  
    <div *ngIf="evento.tipo === 'Equipos'">
      <h3>Equipos Inscritos</h3>
      <ul>
        <li *ngFor="let equipo of evento.equipos">
          <p>{{ equipo.nombre }}</p>
          <!-- Muestra más detalles si es necesario -->
        </li>
      </ul>
    </div>

    <div *ngIf="evento.tipo === 'Participantes'">
        <h3>Agregar Participante</h3>
        <form (ngSubmit)="agregarParticipante(evento.id)">
          <input type="text" placeholder="Nombre" [(ngModel)]="nuevoParticipante.nombre" name="nombre">
          <input type="text" placeholder="Dirección" [(ngModel)]="nuevoParticipante.direccion" name="direccion">
          <input type="email" placeholder="Correo" [(ngModel)]="nuevoParticipante.correo" name="correo">
          <input type="text" placeholder="Teléfono" [(ngModel)]="nuevoParticipante.numeroTelefono" name="numeroTelefono">
          <!-- Agrega otros campos necesarios -->
          <button type="submit">Agregar Participante</button>
        </form>
      </div>
      <div *ngIf="evento.tipo === 'Equipos'">
        <h3>Agregar Equipo</h3>
        <form (ngSubmit)="agregarEquipo(evento.id)">
          <input type="text" placeholder="Nombre del Equipo" [(ngModel)]="nuevoEquipo.nombre" name="nombre">
          <input type="text" placeholder="Institución" [(ngModel)]="nuevoEquipo.institucion" name="institucion">
          <!-- Agrega otros campos necesarios -->
          <button type="submit">Agregar Equipo</button>
        </form>
      </div>
  </div>
  